*{
    margin:auto;
}
.mid{
	text-align: center;
}
img {
	display: block;
}

table, td
{
    border: 1px #70b8ff dashed;
    border-radius: 15px;
}
span
{
	color:#cc0000;
	font-size:30px;
}
h1{
	color:#36648b;
}
