*{
    margin:auto;
}
.mid{
	text-align: center;
}
img {
	display: block;
}

table, td
{
	margin-top: 20px;
    border: 1px #70b8ff dashed;
    border-radius: 15px;
    width:25%;
    height:100px;
}
span
{
	color:#cc0000;
	font-size:30px;
}
h1{
	color:#36648b;
}

.impac
{
	font-family:impact;
	color:red;
}
#last
{
	margin-top: 20px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}
.cir
{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	border-radius: 100%;
	border: 2px dashed green;
	margin-left: 5px;
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	font-family:impact;
	color:blue;
	margin:auto;
	
}
#first
{
	margin:0 auto;
}
.cir p
{
	margin-top:10px;
}
#d
{
	border: 2px dashed red;
	margin-left:5px;
}
